.stellar-map-container {
  background: white;
  height: 820px;
  width: 590px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .stellar-map-content {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-family: Courier New;

    .stellar-map {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      #map {
        text-align: center;
      }
    }

    .stellar-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      justify-content: end;
      flex: 1 1 0%;
      padding-bottom: 20px;

      .city {
        font-weight: bold;
      }
      .country {
        padding-bottom: 8px;
      }
      .coordinates {
        font-size: 14px;
      }
    }
  }
}
