<div class="frame" [ngStyle]="styleFrame">
	<div class="stellar-map-container">
		<div class="stellar-map-content" [ngStyle]="styleColors">
			<div class="stellar-map">
				<div id="map"></div>
			</div>
			<div class="stellar-information" [ngStyle]="styleColors">
				<span class="phrase">{{phrase}}</span>
				<span class="headline">{{headline}}</span>
				<span class="divider">{{divider}}</span>
				<span class="tagline">{{tagline}}</span>
				<span class="sublime">{{sublime}}</span>
			</div>
		</div>
	</div>
</div>
