.footer-container {
	width: 100%;
	display: flex;
	font-family: sofia-pro, Helvetica, Arial, sans-serif;
	justify-content: space-between;
	background: black;
	border-bottom: 1px solid #e4e3e3;
	padding: 80px 0;

	.footer-left {
		display: flex;
		width: 400px;
		flex-direction: column;
		padding-left: 100px;

		.footer-img {
			padding-bottom: 25px;

			img {
				height: 25px;
			}

			label {
				padding-left: 15px;
				font-size: 25px;
				color: white;
			}
		}

		.description-sing-up {
			font-size: 16px;
			color: #d4d4d4;
			padding-bottom: 20px;
		}

		.sing-up-content {
			display: flex;
			padding-bottom: 15px;

			input {
				box-sizing: border-box;
				background: transparent;
				border-radius: 2px;
				height: 40px;
				width: 200px;
				border: 1px solid rgb(208, 51, 31);
				color: #d4d4d4;
				font-size: 14px;
				font-weight: 400;
				text-align: center;
				font-size: 15px;
			}

			::ng-deep {
				.button-sing-up button {
					border-radius: 0px;
					height: 40px;
					background: white;
					border-style: solid;
					color: black;
					font-size: 15px;
					font-weight: 500;
					text-align: center;
					cursor: pointer;
				}
			}
		}

		.social-networks {

			a {
				display: flex;
				text-decoration: none;

				img {
					height: 30px;
					cursor: pointer;
				}

				label {
					color: white;
					font-size: 16px;
					padding-top: 10px;
					padding-left: 10px;
					cursor: pointer;
				}
			}

		}

	}

	.footer-right {
		padding-top: 150px;
		padding-left: 100px;
		padding-right: 100px;

		.title {
			padding-bottom: 30px;

			label {
				font-size: 20px;
				color: white;
				;
			}
		}

		.links {
			.link-container {
				padding-bottom: 30px;
				color: #d4d4d4;

				a {
					color: #d4d4d4;
					text-decoration: none;
					font-size: 16px;
				}
			}

		}
	}
}

.footer-end-container {
	height: 100px;
	width: 100%;
	background: black;

	.information-end-container {
		color: #d4d4d4;
		font-size: 16px;
		padding-top: 40px;
		padding-left: 100px;
		padding-bottom: 20px;

		a {
			padding-left: 20px;
			text-decoration: none;

			label {
				cursor: pointer;
				color: #d4d4d4;
			}
		}
	}
}
