.header-container {
	background: black;
	height: 110px;
	display: flex;
	justify-content: space-between;
}
.links {
	display: flex;
	padding-left: 40px;
	align-items: center;

	a {
		text-decoration: none;
		font-size: 16px;
		color: white;
		padding-right: 40px;
	}
}
.brand-container {
		display: flex;
		align-items: center;
		padding-left: 40px;
		padding-right: 40px;

	img {
		max-height: 60px;
		width: 60px;
	}
}
.header-icons {
	display: flex;
	padding-left: 40px;
	padding-right: 40px;
	align-items: center;
	color: white;
}