<app-frame-container>
	<div class="signature-poster-content"
		[ngStyle]="style"
		[class.full]="fullSize"
		>
		<div class="text">
			<span class="main-text">
				{{headline}}
			</span>
			<div class="secondary-texts">
				<div class="tagline">{{tagline}}</div>
				<div class="sublime">{{sublime}}</div>
			</div>
		</div>
		<!-- <div class="stellar-map">
			<div id="map"></div>
		</div> -->
		<!-- <div class="stellar-information" [ngStyle]="styleColors">
			<span class="city">{{headline}}</span>
			<span class="country">{{divider}}</span>
			<span class="date">{{tagline}}</span>
			<span class="coordinates">{{sublime}}</span>
		</div> -->
	</div>
</app-frame-container>
