$mercury: #e7e7e7;
$labaster: #f7f7f7;

//main palette
$primary: #10437D;
$secondary: #2868B0;
$blue: #4482C3;
$celeste: #21BEDA;
$red: #EB3E4A;
$dark: #2E2E2E;
$white: #fafafa;
$green: #15d86c;
$orange: #FFB32C;


//grays
$gray-base: #dadada;
$gray-medium: #dcd7d7;
$gray-ligth: #D8D8D8;
$gray-dark: #626161
