//page to convert hex to colors material variants http://mcg.mbitson.com/#!?accent=%232868b0
$airprint-primary: (
  50 : #e2e8ef,
  100 : #b7c7d8,
  200 : #88a1be,
  300 : #587ba4,
  400 : #345f91,
  500 : #10437d,
  600 : #0e3d75,
  700 : #0c346a,
  800 : #092c60,
  900 : #051e4d,
  A100 : #81a3ff,
  A200 : #4e7dff,
  A400 : #1b58ff,
  A700 : #0245ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$airprint-accent: (
  50 : #e5edf6,
  100 : #bfd2e7,
  200 : #94b4d8,
  300 : #6995c8,
  400 : #487fbc,
  500 : #2868b0,
  600 : #2460a9,
  700 : #1e55a0,
  800 : #184b97,
  900 : #0f3a87,
  A100 : #b8cfff,
  A200 : #85abff,
  A400 : #5288ff,
  A700 : #3977ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

