.stellar-main-container {
	.stellar-configuration-panel-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		background: #f7f7f7;

		.stellar-map {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			background: #eeeeee;
			justify-content: center;
			align-items: center;

			.customize-bar {
				background: white;
				display: flex;
				justify-content: space-between;
				padding: 10px 0;
				width: 100%;

				.themes {
					margin-left: 40px;
				}

				.controls {
					margin-right: 40px;
					display: flex;

					img {
						width: 34px;
					}

					.ctr {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						margin-left: 10px;
					}
				}
			}

			.render-container {
				display: flex;
				margin: 40px 0;
			}
		}

		.header-configuration-container {
			background-color: #62636b;
			padding: 20px 30px;
			color: hsla(0, 0%, 100%, .75);
			font-size: 14px;
			line-height: 1.4;
			display: flex;
			flex-direction: column;

			.header-title {
				display: block;
				color: #fff;
				font-weight: 700;
			}
		}
		
		.stellar-description-container {
			border-bottom: 1px solid #eee;
			background-color: #f9fafb;

			.description-content {
				.inline-input {
					display: flex;
					justify-content: space-between;
					padding-bottom: 8px;
					color: #606266;

					label {
						margin-top: 10px;
					}

					input {
						border: 1px solid #dcdfe6;
						border-radius: 4px;
						line-height: 40px;
						font-size: inherit;
						height: 40px;
						color: #606266;
						background-color: #fff;
						width: 210px;
					}

				}
			}
		}

		.stellar-customize-container {
			border-bottom: 1px solid #eee;
			background-color: #f9fafb;

			.size {
				display: flex;
				justify-content: center;
			}

		}

		.panel-configuration {
			min-width: 340px;
		}
	}

	.stellar-location-container {
		border-bottom: 1px solid #eee;
		background-color: #f9fafb;

		.location-container {
			display: flex;
			flex-direction: column;

			.location-input {
				display: flex;
				flex-direction: column;
				padding-bottom: 15px;

				label {
					font-size: 12px;
					opacity: .8;
				}

				input {
					border: 1px solid #dcdfe6;
					border-radius: 4px;
					line-height: 40px;
					font-size: inherit;
					height: 40px;
					color: #606266;
					margin-bottom: 8px;
				}
			}

			.date-input {
				display: flex;
				flex-direction: column;
				padding-bottom: 15px;

				label {
					font-size: 12px;
					opacity: .8;
				}

				input {
					border: 1px solid #dcdfe6;
					border-radius: 4px;
					line-height: 40px;
					font-size: inherit;
					height: 40px;
					color: #606266;
					margin-bottom: 8px;
				}
			}
		}
	}
}