.configuration-panel-container {
	width: 400px;

	.header-configuration-container{
		background-color: #62636b;
		padding: 20px 30px;
		color: hsla(0,0%,100%,.75);
		font-size: 14px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		.header-title {
			display: block;
			color: #fff;
			font-weight: 700;
		}
		
	}
	.stellar-location-container {
		border-bottom: 1px solid #eee;
		background-color: #f9fafb;

		.location-container {
			display: flex;
			flex-direction: column;
			font-size: 16px;

			.location-input {
				display: flex;
				flex-direction: column;
				padding-bottom: 20px;

				input {
					border: 1px solid #dcdfe6;
					border-radius: 4px;
					line-height: 40px;
					font-size: inherit;
					height: 40px;
					color: #606266;
					margin-bottom: 8px;
				}
			}

			.date-input {
				display: flex;
				flex-direction: column;
				padding-bottom: 20px;

				input {
					border: 1px solid #dcdfe6;
					border-radius: 4px;
					line-height: 40px;
					font-size: inherit;
					height: 40px;
					color: #606266;
					margin-bottom: 8px;
				}
			}
		}
	}

	.stellar-theme-container {
		border-bottom: 1px solid #eee;
		background-color: #f9fafb;

		.theme-preview-container {
			display: flex;
			flex-wrap: wrap;
			text-align: center;

			.theme-preview {
				margin-top: 10px;
				margin-right: 15px;

				img {
					width: 80px;
					height: 80px;
					display: flex;
					border-radius: 50%;
					border: 4px solid rgba(47, 57, 75, .2);

				}

			}


		}
	}

	.stellar-description-container {
		border-bottom: 1px solid #eee;
		background-color: #f9fafb;

		.description-content {
			.inline-input {
				display: flex;
				justify-content: space-between;
				padding-bottom: 8px;
				color: #606266;

				input {
					border: 1px solid #dcdfe6;
					border-radius: 4px;
					line-height: 40px;
					font-size: inherit;
					height: 40px;
					color: #606266;
					background-color: #fff;
					width: 210px;
				}

			}
		}
	}


	.stellar-customize-container {
		border-bottom: 1px solid #eee;
		background-color: #f9fafb;

		.size {
			display: flex;
			justify-content: center;
		}

	}
}