

.poster-container {
  background: white;
  height: 820px;
  width: 590px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .poster-content {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;

    .poster-pieces {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 60px 0 0 0;

      .piece {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }

    .poster-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      justify-content: end;
      flex: 1 1 0%;
      padding-bottom: 60px;

      .headline {
        font-weight: bold;
        font-size: 40px;
      }

      .phrase {
        padding-bottom: 10px;
      }
    }
  }
}
