<div class="geometric-posters-page">
	<div class="geometric-posters">
		<div class="customize-bar">
			<div class="categories">
				<div class="category" *ngFor="let category of categories;"
					(click)="onSelectCategory(category)"
					[class.selected]="categorySelected == category.key"
				>
					{{category.name}}
				</div>
			</div>
		</div>
		<div class="render-container">
			<app-geometric-poster-preview
				[headline]="defaultProps.headline"
				[phrase]="defaultProps.phrase"
				[style]="defaultProps.style"
			>
			</app-geometric-poster-preview>
		</div>
	</div>
	<div class="panel-configuration">
		<div class="header-configuration-container">
			<label class="header-title">Customize your Stellar Map poster!</label>
			<label>Change location, labels and appearance</label>
		</div>
		<div class="stellar-location-container">
			<!-- <mat-expansion-panel (opened)="true" (closed)="false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Location and date
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="location-container">
					<div class="location-input">
						<input type="search" id="search" name="search">
						<label>Search and select the location</label>
					</div>
					<div class="date-input">
						<input type="date" name="date" id="date">
						<label>Enter your specific date</label>
					</div>
				</div>
			</mat-expansion-panel> -->
		</div>
		<div class="stellar-description-container">
			<!-- <mat-expansion-panel (opened)="true" (closed)="false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Customize the text
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="description-content">
					<div class="inline-input">
						<label>Headline</label>
						<input type="text" id="text" name="headline"
							[(ngModel)]="stellarForm.headline"
							(change)="updateMap()">
					</div>
					<div class="inline-input">
						<label>Divider</label>
						<input type="text" id="text" name="divider"
							[(ngModel)]="stellarForm.divider"
							(change)="updateMap()">
					</div>
					<div class="inline-input">
						<label>Tagline</label>
						<input type="text" id="text" name="tagline"
							[(ngModel)]="stellarForm.tagline"
							(change)="updateMap()"
						>
					</div>
					<div class="inline-input">
						<label>Sublime</label>
						<input type="text" id="text" name="sublime"
							[(ngModel)]="stellarForm.sublime"
							(change)="updateMap()"
						>
					</div>
				</div>
			</mat-expansion-panel> -->
			<div class="stellar-customize-container">
				<!-- <mat-expansion-panel (opened)="true" (closed)="false">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Customize the size
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div class="size">
						<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
							<mat-button-toggle value="bold">30x40cm</mat-button-toggle>
							<mat-button-toggle value="italic">50x70cm</mat-button-toggle>
							<mat-button-toggle value="underline">70x100cm</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</mat-expansion-panel> -->
			</div>
		</div>
	</div>
</div>
