.street-map-container {
	height: 770.004px;
	width: 513.33px;
	display: flex;
	// box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-image: url('../../../assets/images/map-example.png');
	background-size: cover;

	.street-map-content {
		width: 100%;
		margin: 20px;
		position: relative;

		.street-map {
			height: 100%;

			.render-map {
				width: 100%;
				height: 100%;
			}
		}

		.street-map-information {
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: 2;

			&.basic {
				.fields {
					display: flex;
					flex-direction: column;
					align-items: center;

					.headline {
						font-size: 48px;
						font-weight: bold;
						font-family: 'Gotham';
						letter-spacing: 2px;
					}

					.divider {
						font-size: 16px;
						font-family: 'Gotham';
						padding-top: 20px;
					}

					.tagline {
						font-size: 12px;
						font-family: 'Gotham';
						padding-top: 22px;
						padding-bottom: 6px;
					}
				}
			}

			&.lineal {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 22px;
				background-color: transparent !important;

				.fields {
					background: white;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 2px 22px;

					.headline {
						font-size: 27px;
						font-weight: bold;
						font-family: 'Gotham';
						letter-spacing: 2px;
					}

					.divider {
						font-size: 14px;
						font-family: 'Gotham';
						padding-top: 21px;
					}

					.tagline {
						font-size: 9px;
						font-family: 'Gotham';
						padding-top: 22px;
						padding-bottom: 6px;
					}
				}
			}
		}
	}
}

.frame {
  padding: 18px;
}
