.street-map-basic-container {
	background: white;
	height: 770.004px;
	width: 513.33px;
	display: flex;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	.street-map-basic-content {
		width: 100%;
		font-family: Courier New;
		margin: 20px;
		display: flex;
		flex-direction: column;

		.street-map-basic {
			display: flex;
			justify-content: center;

			.mapStreet-basic {
				width: 100%;
				height: 570px;
				display: flex;
				background: white;
			}
		}

		.street-map-basic-information {
			// background: #cbb187;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 16px;
			justify-content: end;
			flex: 1 1 0%;
			color: black;
			padding-bottom: 20px;

			.city {
				font-size: 30px;
				font-weight: bold;
			}

			.country {
				font-size: 14px;
			}

		}
	}
}

.street-map-shadow-container {
	background: white;
	height: 770.004px;
	width: 513.33px;
	display: flex;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	.street-map-shadow-content {
		// background: #A3DBDC;
		width: 100%;
		font-family: Courier New;
		margin: 20px;
		display: flex;
		flex-direction: column;

		.street-map-shadow {
			display: flex;
			justify-content: center;
			padding: 20px 0;

			.mapStreet-shadow {
				width: 420px;
				height: 570px;
				display: flex;
				// background: #f6fae5;
			}
		}

		.street-map-shadow-information {
			// background: #A3DBDC;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 16px;
			justify-content: end;
			flex: 1 1 0%;
			color: black;
			padding-bottom: 20px;

			.city {
				font-size: 30px;
				font-weight: bold;
			}

			.country {
				font-size: 14px;
			}

			.coordinates {
				font-size: 12px;
			}
		}
	}
}

.street-map-lineal-container {
	background: white;
	height: 770.004px;
	width: 513.33px;
	display: flex;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	.street-map-lineal-content {
		// background: #E5C1E6;
		width: 100%;
		font-family: Courier New;
		margin: 20px;
		display: flex;
		flex-direction: column;

		.street-map-lineal {
			display: flex;
			justify-content: center;
			padding: 20px 0;

			.mapStreet-lineal {
				width: 420px;
				height: 570px;
				display: flex;
				background: white;
			}
		}

		.street-map-lineal-information {
			// background: #E5C1E6;
			display: flex;
			flex-direction: column;
			align-items: center;

			.street-information {
				background: white;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 200px;
				height: 100px;
				font-size: 16px;
				justify-content: end;
				color: black;
				padding-bottom: 20px;

				.city {
					font-size: 30px;
					font-weight: bold;
				}

				.country {
					font-size: 14px;
				}

				.coordinates {
					font-size: 12px;
				}
			}

		}
	}
}

.frame {
	// background: red;
  padding: 10px;
}
