<div class="page-error-container">
	<div class="error-content">
		<div class="information-content">
			<div class="title">
				<label>Ooops...</label>			
			</div>
			<div class="information-title">
				<span>Page not found</span>
			</div>
			<div class="information">
				<span>The page you are looking for doesn’t exist or an
					other error occurred, go back to home page.</span>
			</div>
			<div class="back">
				<app-button color='accent' class="back-home">
					Go Back
				</app-button>
			</div>
		</div>
	</div>
	<div class="image-content">
		<img class="illustration" src="../../../assets/images/404/404-illustration.svg">
	</div>
	<div class="error">
		<span>4</span>
		<span>0</span>
		<span>4</span>
	</div>
</div>
