@import "../../../styles/colors.scss";

.stella-map-page {
	display: flex;

	::ng-deep {
		app-stellar-map-configuration-panel {
			display: flex;
			width: 100%;

			.stellar-configuration-panel-container {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				background: $white;
				padding: 30px;
			}
		}
	}
}
