<div class="stella-map-page">
  <app-stellar-map-configuration-panel
		[themes]="themes"
		[frames]="frames"
		(formChange)="updateTextPoster($event)"
		(themeChange)="updatePoster($event)"
		(frameChange)="updateFrame($event)"
		(enableConstellations)="showConstellations($event)"
		(enableGrid)="showGrid($event)"
		(enableConstellationsNames)="showConstellationsNames($event)"
	>
		<app-stellar-map-preview
			[headline]="poster.headline"
			[divider]="poster.divider"
			[tagline]="poster.tagline"
			[sublime]="poster.sublime"
			[configuration]="selectedTheme"
			[constellations]="false"
			[grid]="false"
			[constellationsNames]="false"
			[colorFrame]="selectedFrame"
		>
		</app-stellar-map-preview>
	</app-stellar-map-configuration-panel>
</div>
