<div class="stella-map-page">
  <app-street-map-configuration-panel
    [themes]="themes"
		(formChange)="updateTextPoster($event)"
		(themeChange)="updatePoster($event)"
    (styleTextChange)="updateText($event)"
    [frames]="frames"
    (frameChange)="updateFrame($event)"
  >
	  <app-street-map-preview
			[headline]="poster.headline"
			[divider]="poster.divider"
			[tagline]="poster.tagline"
			[textStyle]="poster.textStyle"
			[configuration]="selectedTheme"
	    [urlFrame]=""
			[mapboxToken]="token"
	  >
	  </app-street-map-preview>
  </app-street-map-configuration-panel>
</div>
